body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}
  
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
  
.back-ground {
    width: 100%;
    height: 100%;
    background: url(../assets/ground.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left center;
    position: fixed;
}

.branding {
    width: 120px;
    padding-right: 10%;
}

.navbar-brand{
    transition: transform 1s;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99998;
    background: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
  
.loader {
    width: 300px;
    position: fixed;
    z-index: 99999;
    overflow: hidden;
}

.avatar {
    width: 40%;
    border-radius: 50%;
    padding: 10px;
}

.vid {
    height: 56vw;
}

.boris {
    height: 80vh;
}

.wide {
    width: 100%;
    padding-bottom: 15px;
}

p {
    padding: 5px;
}

a {
    padding: 5px;
}